.LandingPage {
	header {
		position: fixed;
		width: 100%;
		z-index: 1;

		.logo {
			float: left;
			width: 120px;
			height: 31px;
			margin: 16px 24px;
			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	.Content {
		padding: 0 2rem 1rem;
		margin-top: 64px;
		min-height: calc(100vh - 64px);
		background-color: #fafafa;

		.SubHeader {
			display: flex;
			padding: 0.7rem;
		}

		table {
			width: 100%;
			border-collapse: separate;
			border-spacing: 1rem 0;

			td {
				background-color: #e7f3f2;
				padding: 0.5rem 1rem;
			}

			thead td {
				border-top-left-radius: 0.5rem !important;
				border-top-right-radius: 0.5rem !important;
			}

			tbody tr:last-child td {
				border-bottom-left-radius: 0.5rem !important;
				border-bottom-right-radius: 0.5rem !important;
			}
		}
	}
}
