.SavedJobs {
	.SubHeader {
		display: flex;
		padding: 0.7rem;
	}

	.Jobs {
		background-color: #e7f3f2;
		border-radius: 0.5rem;
		flex: 1;
		margin: 0.5rem;
		padding: 0.75rem 1rem;

		.Job {
			margin: 1rem 0;
		}
	}
}
